# CHECKING ROUTE

In [1]:
import pandas as pd

In [2]:
FROM = "AGRA"
TO = "VISAKHAPATNAM"

In [3]:
routes = pd.read_csv("routes.csv")
to_demand = pd.read_csv("dataset_traffic/todemand.csv")
from_demand = pd.read_csv("dataset_traffic/fromdemand.csv")

In [4]:
to_demand.head()

      CITY 2  TO DEMAND
0  AHMEDABAD       8202
1     AIZAWL       5780
2      AJMER        225
3   AMRITSAR      13033
4   BAGDOGRA      36490

In [5]:
if len(routes.loc[(routes['CITY 1'] == FROM) & (routes['CITY 2'] == TO)]) == 1:
    print("route available")

else:
    print("not available")

not available

# AIRPORT AVAILABILITY

In [6]:
data = pd.read_csv("data_new.csv")

In [7]:
AIRPORT = "PUNE"

In [8]:
data['city'] = data['city'].str.upper()
data.head()

,Unnamed: 0,city,country,pop2023,latitude,longitude,airport_available,POP PER,GDP per city in crores
0,0,MUMBAI,India,12691836,19.0728,72.8826,True,0.008956,24363.19803
1,1,DELHI,India,10927986,28.6520,77.2315,True,0.007711,20977.31857
2,2,BENGALURU,India,8443675,12.9719,77.5937,True,0.005958,16208.44503
3,3,HYDERABAD,India,6809970,17.3841,78.4564,True,0.004805,13072.39139
4,4,AHMEDABAD,India,6357693,23.0258,72.5873,True,0.004486,12204.20226

In [9]:
if len(data['city'].loc[(data['city'] == AIRPORT)]) == len(to_demand['CITY 2'].loc[(to_demand['CITY 2'] == AIRPORT)]):
    print("airport available")

else:
    print("airport not available")

airport available

# to check if the city can have a airport

In [10]:
X = data[['pop2023','GDP per city in crores']]

In [11]:
X

      pop2023  GDP per city in crores
0    12691836            24363.198030
1    10927986            20977.318570
2     8443675            16208.445030
3     6809970            13072.391390
4     6357693            12204.202260
..        ...                     ...
395    115504              221.721020
396    115115              220.974297
397    114321              219.450138
398    114050              218.929927
399    113840              218.526812

[400 rows x 2 columns]

In [12]:
y = data[['airport_available']]

In [13]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [14]:
y = le.fit_transform(y)

c:\Users\modha\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
y = pd.DataFrame(y,columns=['airport available'])
y

     airport available
0                    1
1                    1
2                    1
3                    1
4                    1
..                 ...
395                  0
396                  0
397                  0
398                  0
399                  0

[400 rows x 1 columns]

In [16]:
from sklearn.tree import DecisionTreeRegressor
tree_model = DecisionTreeRegressor()
tree_model.fit(X, y)

DecisionTreeRegressor()

In [17]:
d = {'pop2023': [115115], 'GDP per city in crores': [220.9742973]}

In [18]:
result = tree_model.predict(pd.DataFrame(d))

In [19]:
if result[0] == 1:
    print("airport can be established")
else:
    print("the city does not have proper economy to population ratio for establishing an airport ")

the city does not have proper economy to population ratio for establishing an airport

# to see if we can set a route

In [20]:
data_routes = pd.read_csv("routeswithdist.csv")

In [21]:
q1 = data_routes[['distance']].quantile(0.25)
q3 = data_routes[['distance']].quantile(0.75)

In [22]:
print(q1) #lower quartile
print(q3) #higher quartile

distance    420.135737
Name: 0.25, dtype: float64
distance    1309.044775
Name: 0.75, dtype: float64

In [ ]:
aircity = "AGRA"

In [ ]:
data['airport available'].loc[data['city'] == aircity]